<h1>Listing rest_param_examples</h1>

<table>
  <tr>
    <th>Example</th>
    <th>Rest resource param</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rest_param_examples.each do |rest_param_example| %>
  <tr>
    <td><%= rest_param_example.example %></td>
    <td><%= rest_param_example.rest_resource_param_id %></td>
    <td><%= link_to 'Show', rest_param_example %></td>
    <td><%= link_to 'Edit', edit_rest_param_example_path(rest_param_example) %></td>
    <td><%= link_to 'Destroy', rest_param_example, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rest param example', new_rest_param_example_path %>
