<p id="notice"><%= notice %></p>

<p>
  <b>Example:</b>
  <%= @rest_param_example.example %>
</p>

<p>
  <b>Rest resource param:</b>
  <%= @rest_param_example.rest_resource_param_id %>
</p>


<%= link_to 'Edit', edit_rest_param_example_path(@rest_param_example) %> |
<%= link_to 'Back', rest_param_examples_path %>
