%h1 Listing steps

%table
  %tr
    %th Title
    %th Index
    %th Content
    %th Authentication
    %th Example
    %th
    %th
    %th

  - @steps.each do |step|
    %tr
      %td= step.title
      %td= step.index
      %td= step.content
      %td= step.authentication_id
      %td= step.example_id
      %td= link_to 'Show', step
      %td= link_to 'Edit', edit_step_path(step)
      %td= link_to 'Destroy', step, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Step', new_step_path
